# Ignorar entorno virtual y archivos innecesarios
venv/
bin/
include/
lib/
pyvenv.cfg
lib/python3.12/site-packages/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de dependencias
*.log

# Archivos de datos generados
datos.csv
codigos_lista.csv
etiquetas.pdf  # Evita subir PDFs generados

# Configuración del sistema
.DS_Store  # En macOS, archivos ocultos generados por Finder

# Configuración de IDEs y editores de código
.vscode/
.idea/
